# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?
backend/uploads/1752769294693-2 Mensuration.pdf
backend/uploads/1752769294693-2 Mensuration.pdf
backend/uploads/1753280860792-Examination Timetable - August 2025.pdf
backend/uploads/profile_images/1753280818241-4497ffc4-4e81-481b-80a6-e6f38d1b7c1b.jpeg
frontend/vite.config.js
backend/uploads/1752769294693-2 Mensuration.pdf
frontend/vite.config.js